doctype html
html
  head
    title My Weather
    script(src="bower/react/react.js")
    script(src="bower/react/react-dom.js")
    script(src="bower/jquery/dist/jquery.js")
    script(src="bower/underscore/underscore.js")
    script(src="bower/Materialize/dist/js/materialize.js")
    link(href="bower/Materialize/dist/css/materialize.css", rel="stylesheet")
  body
    div#weather Weather
    script(src="components/weather.js")
    script(src="components/all-weathers.js")